table {
    border-collapse: collapse;
    /* border: 1px solid black; */
    width: 50%;
}

tr, th {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
    background-color: lightskyblue;
}

th {
    background-color: blanchedalmond;
}

.button {
   background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}

